.item.ccm-pane-body{
	padding: 10px 10px 0 10px;
	margin-bottom:10px;
}

.ccm-ui .form-horizontal .control-label{
	font-weight: bold;
}

.listado-adjuntos .adjunto-subasta .input {
	margin-left: 152px;
}

.listado-adjuntos .enlace-subasta input, .listado-adjuntos .adjunto-subasta input{
	margin-left: 10px;
}

.borrar-enlace, .borrar-adjunto {
	float: right;
}

div#ccm-dashboard-content .subasta{
	margin-top: 0px;
}

  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  #paginador{
    text-align: center;
  }

  #paginador .numbers{
    padding: 0 0.5rem;
    font-size: 1.4em;
    border: 1px solid #A4C2D3;
    border-radius: 4px;
  }
  #paginador .active{
    color:white;
    background-color: #0079c2;
  }


.municipio-selector span.custom-combobox {
position: absolute;
right: -1000px;
}

.municipio-selector .select2-result {
    width:33%;
    float:left;
}